body{
overflow-y:scroll;
}
.shadow{
-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 20px rgba(0,0,0,.8);
   box-shadow: 0px 0px 20px rgba(0,0,0,.8);
}
.btn{
-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.8);
   box-shadow: 0px 0px 5px rgba(0,0,0,.8);
}
.board{
background: url(../images/straws.png) repeat;
    background-color:white;
    padding:0px 10px 100px 10px;
    min-height:500px;
-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 15px rgba(0,0,0,.8);
   box-shadow: 0px 0px 15px rgba(0,0,0,.8);
}
.footer{
    z-index:2;
    position:fixed;
    color:gray;
   background-color:black;
    bottom:0px;
    width:100%;
    padding-left:100px;
    margin-left:-15px;
-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 15px rgba(0,0,0,.8);
   box-shadow: 0px 0px 15px rgba(0,0,0,.8);
}
.footer_timer{
    z-index:3;
    position:fixed;
    bottom:0px;
    right:0px;
    padding:10px;
    background-color:#dddddd;
-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,.8);
   -moz-box-shadow: 0px 0px 15px rgba(0,0,0,.8);
   box-shadow: 0px 0px 15px rgba(0,0,0,.8);
}
.dummy_nav{
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 15px solid green;
    display:inline-block;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
    display:inline-block;
	border-top: 15px solid red;
}
